<div class="grid grid-cols-1 lg:grid-cols-4 md:gap-2">
  <div class="col-span-3"> {{!-- Start col-span-3 --}}
  <div class="rounded-md p-2 mt-2 mx-2 shadow-lg bg-white">
    <h2 class="rounded-md px-2 text-xl mx-2 text-center -mt-5 justify-start w-[fit-content] bg-white text-black">
      {{!-- Font awesome --}}
      
      <i class="fa-solid fa-list"></i>
      <span class="">Review mới</span>
      </h2>
    <div class="p-2 col-span-2">
      {{> carousel barId="reviewMoi" slidesPerView=3 items=data.reviewMoi }}
    </div>

    {{!-- <h2 class="text-2xl mx-2 text-black mt-2">Phim hành động</h2>
    <div class="p-2 col-span-2">
      {{> carousel barId="phimHanhDong" slidesPerView=3 items=data.phimHanhDong }}
    </div> --}}

  </div>  
  <div class="my-2 mx-2 relative p-1">

      <div class="absolute bg-white bg-opacity-90 inset-0 shadow-lg rounded-lg z-[-1]">
      </div>
    <h2 class="text-2xl mx-2 text-black">Món Việt Nam</h2>
    <div class="p-2">
      {{> carousel barId="monVietnam" slidesPerView=4 items=data.monVietnam }}
    </div>
  </div>

  <div class="my-2 mx-2 relative p-1">

      <div class="absolute bg-white bg-opacity-90 inset-0 shadow-lg rounded-lg z-[-1]">
      </div>
    <h2 class="text-2xl mx-2 text-black">Món Trung Quốc</h2>
    <div class="p-2">
      {{> carousel barId="monTrungQuoc" slidesPerView=4 items=data.monTrungQuoc }}
    </div>
  </div>


  <div class="my-2 mx-2 relative p-1">

      <div class="absolute bg-white bg-opacity-90 inset-0 shadow-lg rounded-lg z-[-1]">
      </div>
    <h2 class="text-2xl mx-2 text-black">Ăn cả thế giới</h2>
    <div class="p-2">
      {{> carousel barId="anCaTheGioi" slidesPerView=4 items=data.anCaTheGioi }}
    </div>
  </div>

  </div>  {{!-- End col-span-3 --}}

  <div class="md:row-span-2 place-self-start flex flex-col gap-2 w-full px-2">
    <div x-data="{bxhOpen: true}">
      <h2 class="flex text-xl items-center p-2 rounded-t-md bg-fuchsia-400 hover:bg-fuchsia-300 dark:hover:bg-fuchsia-700 transition"
        @click="bxhOpen = !bxhOpen">
        <span class="flex-grow">
          <i class="fas fa-chess-king fa-xs"></i>
          Bảng xếp hạng
        </span>
        <i :class="{'rotate-180': bxhOpen}"
          class="fas fa-chevron-down fa-xs transform hover:-translate-y-0.5 hover:opacity-60 transition"></i>

      </h2>

      <div class="rounded-b-md p-2 bg-white">
        {{!-- <div class="grid grid-cols-4 divide-x mb-1">
          <div class="bg-pink-300 hover:bg-pink-400 dark:bg-pink-400 dark:hover:bg-pink-600 w-full py-2 text-center ">
            Ngày</div>
          <div class="bg-pink-300 hover:bg-pink-400 dark:bg-pink-400 dark:hover:bg-pink-600 w-full py-2 text-center ">
            Tuần</div>
          <div class="bg-pink-300 hover:bg-pink-400 dark:bg-pink-400 dark:hover:bg-pink-600 w-full py-2 text-center ">
            Tháng</div>
          <div class="bg-pink-300 hover:bg-pink-400 dark:bg-pink-400 dark:hover:bg-pink-600 w-full py-2 text-center ">
            Mùa</div>
        </div> --}}
        <div class="flex flex-col gap-1 text-base-content" x-show="bxhOpen"
          x-transition:enter="transition ease-out duration-500" x-transition:enter-start="opacity-0 transform scale-90"
          x-transition:leave="transition ease-in duration-300"
          x-transition:leave-start="opacity-100 transform scale-100"
          x-transition:leave-end="opacity-0 transform scale-90">

          <div id="ranking" class="flex flex-col gap-2"></div>

        </div>
      </div>
    </div>


  </div>


</div>
  <div class="bg-base-200 grid gap-2 my-2 w-full">
  </div>



<script>
  const $rank = $("#ranking");
  const $card = $(".group.rounded.box-border.shadow-md.relative.overflow-hidden").first().parent();

  // fetch api rank using ajax
  jQuery.ajax({
    url: "/dishes/ranking/",
    dataType: "json",
    success: function (res) {
      const { data } = res;

      data.forEach((item, index) => {
        const { title, image, englishTitle, slug } = item;

        const cardClone = $card.clone();

        try {
          cardClone.attr("href", `/dishes/${slug}`);
          cardClone.children().first().css("height", "7rem");
          cardClone.find("[data-card='title']").text(title);
          cardClone.find("[data-card='image']").attr("src", image).attr("alt", title).css("object-fit", "cover").css("object-position", "center");
          cardClone.find("[data-card='subtitle']").text(englishTitle);

          $rank.append(cardClone);
        }
        catch (e) {
          console.log(e);
        }

      });

    }
  });

  // get history from local storage
  const history = JSON.parse(localStorage.getItem("history"));

  //if history is an array and not empty
  if(history != null && history.length > 0) {
    history.forEach((item, index) => {
      const { title, image, url, episodeName } = item;

      const cardClone = $card.clone();

      try {
        cardClone.attr("href", url);
        cardClone.children().first().css("height", "7rem");
        cardClone.find("[data-card='title']").text(title);
        cardClone.find("[data-card='image']").attr("src", image).attr("alt", title).css("object-fit", "cover").css("object-position", "center");
        //find element next to class "fas fa-film"
        cardClone.find("[data-card='episodeName']").text(episodeName);

        $("#watchHistory").append(cardClone);
      }
      catch (e) {
        console.log(e);
      }

    });
  }
  

</script>